/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

a{
  text-decoration: underline;
}

.topNav, .topNav a{
color:#999;
text-decoration: none;
font-size: 1.1em;
}

.topNav{
height: 50px;
 background-color: #f5f5f5;
 position:relative;

}

#topNavLinks{
padding-top:.9em;
}

#uvaLogo{
width:75%;
}

#header h1{
  margin:0em;
}

#header{
height:15em;
position:relative;
}


#header a{
text-decoration: none

}

#logo{
  position: absolute;
  top: 50%;
width:100%;
margin-top: -50px;
}


.newsColumns{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}


.newsColumns, .learningCalendar{
    margin-bottom: 2em;
    }

.card-title, .icon-block h5 {
  text-transform: uppercase;
}



/*THis is the reset stuff for the mega menu
http://designmodo.com/create-css3-mega-menu/

*/

nav{

  height:52px;
}

.nav,
.nav a,
.nav ul,
.nav li,
.nav div,
.nav form,
.nav input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
 
.nav a { text-decoration: none; }
 


/*Then we will add some basic styles to the menu container and float the list items to the left in order to show them on the same line.*/

.nav {
    display: inline-block;
    position: relative;
    cursor: default;
    z-index: 500;
}
 
.nav > li {
    display: block;
    float: left;
}



.icon-block li{
margin-bottom: 1em;

}


.icon-block h5{
text-align: left;
    margin-bottom: 2em;
}

.nav > li > a, .nav > li > li > a {
    font-size: 1.1em;
    position: relative;
    display: block;
    z-index: 510;
    height: 54px;
    padding: 0 10px;
    line-height: 54px;
 
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}


.nav > li:hover > a { background: #4b4441; }
 
.nav > li:first-child > a {
    border-radius: 3px 0 0 3px;
    border-left: none;
}

.activityFeed h4, .activityFeed h5, .activityFeed{
  color:#23282d;
  font-size: 14px;
  font-family: "franklin-gothic-urw-cond",sans-serif;
}

.card{
padding-bottom: 2em;
}

.activityFeed{


}

.nav > li > div {
    position: absolute;
    display: block;
    width: 100%;
    top: 50px;
    left: 0;
 
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
 
    background: #4b4441;
    border-radius: 0 0 3px 3px;
 
    -webkit-transition: all .3s ease .15s;
    -moz-transition: all .3s ease .15s;
    -o-transition: all .3s ease .15s;
    -ms-transition: all .3s ease .15s;
    transition: all .3s ease .15s;
}

.nav > li:hover > div {
    opacity: 1;
    visibility: visible;
    overflow: visible;
}


.nav .nav-column {
    float: left;
    width: 25%;
    padding: 2.5%;
}


.nav .nav-column li {
  clear: both;
  }
 
.nav .nav-column h3 {
    margin: 20px 0 10px 0;
    line-height: 18px;
    font-size: 20px;
    color: #ff722b;
    text-transform:uppercase;
}

.nav .nav-column h4 {
    margin: 20px 0 10px 0;
    line-height: 18px;
    font-size: 18px;
    color: #fff;

}

.page-footer h5{
      text-transform:uppercase;
}


.nav .nav-column h5, .nav .nav-column a {
        margin-left:1em;
font-family: "franklin-gothic-urw-cond",sans-serif;
  color:#fff;
  }
 
 
.nav .nav-column li a, .nav .nav-column h5{
    display: block;
    line-height: 18px;

    font-size: 16px;
    color: #888888;
}
 
.nav .nav-column li a:hover { color: #666666; }


.noLinkHeader, .card-title{

font-family: "franklin-gothic-urw-cond",sans-serif;
}


#announcements{

    width: 50%;

}


/* end megamenu styling */


.button-collapse {
    color: #fff;
}



a{
  color: #ef6c00;
}

body{  
font-family: "franklin-gothic-urw-cond",sans-serif;
}

.header, .parallax-container h1{
font-family: "franklin-gothic-urw-cond",sans-serif;
      font-style: bold !important;

}

.parallax-container h1{
      text-transform: uppercase;
      font-style: bold !important;
    }


.brand-logo{

  margin-right:0em;
}


.parallax-container h5{

font-family: "franklin-gothic-urw-cond",sans-serif;
  color:#fff;
}

h5{
font-family: "franklin-gothic-urw-cond",sans-serif;

}

body{


}

nav ul a,
nav .brand-logo {
  color: #fff;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}



/*MEDIA QUERIES*/

@media (max-width: 600px) {



.newsColumns{
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
  }


}